<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Case Study">
	 <listeners>
        <listener class-name="com.cleartrip.casestudy.listeners.TestStatusListener"/>
        <listener class-name="com.cleartrip.casestudy.listeners.AnnotationTransformer"/>
    </listeners>
   
    <test name="ClearTrip Tests" preserve-order="false" group-by-instances="true">
        <classes>
        		<class name="com.cleartrip.casestudy.FlightBookingTest"/>
      		<class name="com.cleartrip.casestudy.SignInTest"/>    
            <class name="com.cleartrip.casestudy.HotelBookingTest"/>
        </classes>
    </test>
</suite>